.avatar {
  width: 120px;
  margin: auto;
  border-radius: 65px;
}

.logged {
  width: 680px;
  height: 350px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  padding: 50px 0 100px 0;
  background-color: #fff;
  border-radius: 20px;
  color: rgb(74, 76, 81);
}

@media (max-width: 800px) {
  .logged {
    width: 85%;
  }
}

.btn-out {
  font-size: medium;
  width: 65%;
  padding: 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: rgb(47 123 255);
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-out:hover {
  box-shadow: 0px 4px 10px 1px rgb(135, 179, 255);
}

.out-icon {
  height: 18px;
  padding-right: 10px;
}
