.img {
  width: 60%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0px;
}

.register {
  width: 85%;
  height: 350px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 30%;
  margin-bottom: 30%;
  display: flex;
  padding: 50px 0 100px 0;
  background-color: #fff;
  border-radius: 20px;
}

.title {
  color: rgb(74, 76, 81);
}

.subtitle {
  color: rgb(96, 98, 103);
  width: 75%;
  text-align: center;
  margin: auto;
}

.input {
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgb(246, 247, 248);
  border: none;
}
.input::placeholder {
  color: rgb(206, 211, 218);
}

.btn {
  width: 65%;
  padding: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: rgb(47 123 255);
  border: none;
  color: #fff;
}

.arrow {
  padding-left: 10px;
}
