.img {
  width: 60%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0px;
}

.register {
  width: 85%;
  height: 350px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 30%;
  margin-bottom: 30%;
  display: flex;
  padding: 50px 0 100px 0;
  background-color: #fff;
  border-radius: 20px;
}

.title {
  color: rgb(74, 76, 81);
}

.subtitle {
  color: rgb(96, 98, 103);
  width: 75%;
  text-align: center;
  margin: auto;
}

.input {
  font-size: medium;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgb(246, 247, 248);
  border: solid 0.1px rgb(206, 211, 218, 0.2);
}

.input:hover {
  border: solid 3px rgb(47 123 255);
}

.input::placeholder {
  color: rgb(206, 211, 218);
}

.input:focus {
  border: solid 3px rgb(47 123 255);
  outline: none;
}

.error-case {
  border: solid 3px rgb(225, 0, 48);
  outline: none;
}

.error {
  font-size: small;
  display: flex;
  align-items: flex-start;
  margin-left: 22px;
  color: rgb(225, 0, 48);
  padding-top: 5px;
}

.btn {
  font-size: medium;
  width: 65%;
  padding: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: rgb(47 123 255);
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 4px 10px 1px rgb(135, 179, 255);
}

.btn .arrow {
  padding-left: 10px;
}

.button-text {
  padding: 0;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
