.img {
  width: 60%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0px;
}

.avatar {
  width: 25%;
  margin: auto;
  border-radius: 65px;
}

.logged {
  width: 85%;
  height: 350px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 30%;
  margin-bottom: 30%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 100px 0;
  background-color: #fff;
  border-radius: 20px;
  color: rgb(74, 76, 81);
}

.btn-out {
  font-size: medium;
  width: 65%;
  padding: 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: rgb(47 123 255);
  border: none;
  color: #fff;
  cursor: pointer;
}

.out-icon {
  height: 18px;
  padding: 0;
}
